<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/changepassword.js}" defer></script>
    <title>Password Change</title>
</head>
<body>

    <h2>Password Change</h2>

    <form th:action="@{/changepassword}" method="post" onsubmit="return validateForm()">
        <!-- 이메일 입력 -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <!-- 비밀번호 입력 -->
        <label for="password">Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <!-- 비밀번호 확인 입력 -->
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <p id="passwordMismatch"></p>

        <!-- 변경 버튼 -->
    <button id="changePasswordBtn" type="submit">Change Password</button>
    </form>

 

</body>
</html>