<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <!-- 제이쿼리를 사용한다. -->
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/save.css">
  <script th:src="@{/js/save.js}" defer></script>
</head>
<body>

<!-- action은 form에 작성한 데이터를 어디로 보낼 것인지 지정한다. -->
<!--  이메일 속성에 id를 써서 중복 여부 처리에 쓴다. onkeyup을 통해 백엔드 쪽으로 보낸다. -->
<form action="/member/save" method="post">
  이메일: <input type="text" name="email" id="memberEmail" onblur="emailCheck()"><br>
  <p id="check_result"></p>
  비밀번호: <input type="password" name="password" id="password"><br>
  비밀번호 확인: <input type="password" name="passwordConfirm" id="passwordConfirm" onkeyup="checkPasswordMatch()"><br>
  <!-- input은 버튼의 일종. -->
  <p id="passwordMatchResult"></p>
  <input type="submit" value="회원가입" id="signupButton" disabled>
</form>

<a id="mainPageLink" href="/">메인 페이지로 이동</a>


</body>
</html>